extends .cola-page-pc

block body
	section.page-header
		h1.project-name Cola 开放数据
		h2.project-tagline Cola-UI 测试与演示平台使用

	section.main-content
		h1 提供的结构列表如下
		ul
			li(c-repeat="api in apiList")
				p(c-bind="api.path")

append scripts
	script(src="./index.js")